<%	if measure('puppet_resources').value > 0 %>
    <div class="dashbox">
        <h3><span title="<%= metric('puppet_resources').description -%>"></span></h3>

        <div class="widget-row">
            <div class="widget-span widget-span-6">
                <div class="widget-measure-container">
                    <div class="widget-measure widget-measure-main">
                        <span class="widget-label"><%= message('puppet.widget.puppet_resources') -%></span>
                <span class="nowrap">
                  <%= format_measure('puppet_resources', :url => url_for_drilldown('puppet_resources')) -%> <%= trend_icon(measure('puppet_resources')) %>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>